.header__search {
    flex-grow: 1;
    margin: 0 50px;
    max-width: 400px;
}

.search__input {
    width: 100%;
    height: 35px;
    padding: 0 10px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
}

.header__nav .nav__list {
    display: flex;
    gap: 20px;
    align-items: center;
}

.logout__button {
    background: none;
    color: white;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    font-size: 16px;
    font-weight: normal;
}

.sell__button {
    padding: 8px 15px;
    background-color: white;
    color: black;
    border-radius: 5px;
    font-weight: bold;
}

.form-group {
    width: 680px;
    max-width: 100%;
    margin: 0 auto 30px;
    text-align: left;
}

.form-label {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-input {
    width: 100%;
    padding: 15px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 18px;
}

.address-main {
    padding-top: 100px;
    position: relative;
    width: 100%;
    min-height: 800px;
    text-align: center;
}

.address-title {
    font-size: 24px;
    margin-bottom: 50px;
    font-weight: bold;
}

.address-form {
    width: 780px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 50px;
    box-sizing: border-box;
    border-radius: 5px;
}

.update-button {
    width: 680px;
    max-width: 100%;
    height: 65.25px;
    margin-top: 50px;
    background-color: #e57373;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

@media (max-width: 850px) {
    .address-form {
        padding: 30px 15px;
    }
}