.header .register-logo-only {
    justify-content: flex-start;
}

.register-main {
    padding-top: 0;
    position: relative;
    width: 100%;
    min-height: 1000px;
}

.register-container {
    position: absolute;
    width: 680px;
    height: 678px;
    top: 178px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    padding: 50px;
    box-sizing: border-box;
    text-align: center;
}

.register-title {
    font-size: 24px;
    margin-bottom: 50px;
}

.register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.form-group {
    width: 100%;
    margin-bottom: 30px;
    text-align: left;
}

.form-label {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-input {
    width: 100%;
    padding: 15px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 18px;
}

.register-button {
    width: 680px;
    margin-top: 50px;
    height: 65.25px;
    background-color: #e57373;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-link-area {
    margin-top: 15px;
    text-align: center;
}

.login-link {
    color: #0073CC;
    font-size: 20px;
    text-decoration: none;
}

@media (max-width: 850px) {
    .register-container {
        position: static;
        width: 90%;
        max-width: 500px;
        height: auto;
        transform: none;
        margin: 100px auto 20px;
        padding: 30px;
    }

    .register-button {
        width: 100%;
        margin-top: 20px;
    }
}