.header__search {
    flex-grow: 1;
    margin: 0 50px;
    max-width: 400px;
}

.search__input {
    width: 100%;
    height: 35px;
    padding: 0 10px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
}

.header__nav .nav__list {
    display: flex;
    gap: 20px;
    align-items: center;
}

.sell__button {
    padding: 8px 15px;
    background-color: white;
    color: black;
    border-radius: 5px;
    font-weight: bold;
}

.sell-main {
    padding-top: 100px;
    padding-bottom: 50px;
    width: 100%;
    min-height: 100vh;
    background-color: white;
}

.sell-title {
    font-size: 24px;
    margin-bottom: 50px;
    text-align: center;
    font-weight: bold;
}

.sell-form {
    width: 800px;
    max-width: 95%;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

.sell-section {
    padding: 30px 0;
}

.form-group {
    width: 100%;
    margin-bottom: 30px;
}

.form-input, .form-textarea, .form-select {
    width: 100%;
    padding: 12px 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

.sell-button {
    width: 100%;
    height: 65.25px;
    margin-top: 50px;
    background-color: #e57373;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}

@media (max-width: 850px) {
    .sell-title {
        font-size: 20px;
        margin-bottom: 30px;
    }
    .sell-section {
        padding: 20px 0;
    }
}